:root {
  --background-color: dodgerblue;
  --border-color: lightgreen;
  --txt-color: midnightblue;
  --border: 5px solid black;
}

body {
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  transition: background-color 0.5s ease, color 0.5 ease;
}
body ul {
  list-style-type: none;
}

body.dark {
  background-color: rgb(36, 7, 80);
  color: rgb(182, 176, 159);
}
