:root {
  --background-color: dodgerblue;
  --border-color: lightgreen;
  --txt-color: midnightblue;
  --border: 5px solid black;
}

button:hover {
  background-color: yellow;
  color: lightcoral;
}
.card_wrong:active {
  background-color: red;
}

.card_correct:active {
  background-color: lightgreen;
}

.bookmark {
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.answer {
  display: none;
}
